server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name ${DOC_FORGE_SERVER_NAMES};

    ssl_certificate /etc/letsencrypt/live/${DOC_FORGE_PRIMARY_DOMAIN}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${DOC_FORGE_PRIMARY_DOMAIN}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 1d;

    location /api/ {
        set $doc_forge_backend http://doc-forge-backend:8000;
        rewrite ^/api/(.*)$ /$1 break;
        proxy_pass $doc_forge_backend;
        include /etc/nginx/snippets/proxy-common.conf;
        proxy_read_timeout 300s;
    }

    location / {
        set $doc_forge_frontend http://doc-forge-frontend:80;
        proxy_pass $doc_forge_frontend;
        include /etc/nginx/snippets/proxy-common.conf;
    }
}
