server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name ${LABEL_SYSTEM_SERVER_NAMES};

    ssl_certificate /etc/letsencrypt/live/${LABEL_SYSTEM_PRIMARY_DOMAIN}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${LABEL_SYSTEM_PRIMARY_DOMAIN}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 1d;

    client_max_body_size 5M;

    location /api/ {
        set $label_system_backend http://label-system-backend:8000;
        rewrite ^/api/(.*)$ /$1 break;
        proxy_pass $label_system_backend;
        include /etc/nginx/snippets/proxy-common.conf;
    }

    location / {
        set $label_system_frontend http://label-system-frontend:80;
        proxy_pass $label_system_frontend;
        include /etc/nginx/snippets/proxy-common.conf;
    }
}
