server {
    listen 80;
    listen [::]:80;
    server_name ${MAINPAGE_SERVER_NAMES};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        set $mainpage_landing http://mainpage-landing:80;
        proxy_pass $mainpage_landing;
        proxy_intercept_errors on;
        error_page 404 =301 https://${MAINPAGE_404_DOMAIN}/;
        include /etc/nginx/snippets/proxy-common.conf;
    }
}
