server {
    listen 80;
    listen [::]:80;
    server_name ${MAINPAGE_404_DOMAIN};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://${MAINPAGE_404_DOMAIN}$request_uri;
    }
}

